@page
@{
    ViewData["Title"] = "Đổi mật khẩu thành công";
}

<div class="text-center">
    <h1 class="text-success mb-3">@ViewData["Title"]</h1>
    <p>Bạn đã đổi mật khẩu thành công.</p>
    <a class="btn btn-primary mt-3" asp-controller="Account" asp-action="MyProfile">Quay về đăng nhập</a>
</div>
