@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Quên mật khẩu";
}

<h1 class="mb-3">@ViewData["Title"]</h1>
<p>Vui lòng nhập Gmail bạn đã đăng ký để nhận liên kết đặt lại mật khẩu.</p>
<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@gmail.com" />
                <label asp-for="Input.Email" class="form-label">Gmail</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Gửi liên kết đặt lại mật khẩu</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
