@page
@{
    ViewData["Title"] = "Xác nhận đăng ký tài khoản";
}

<div class="text-center">
    <h1 class="text-primary mb-3">@ViewData["Title"]</h1>
    <p>Cảm ơn bạn đã đăng ký tài khoản tại <strong>Plotty</strong>!</p>

    <a class="btn btn-primary mt-3" asp-page="/Account/Login">Quay về đăng nhập</a>
</div>