@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu";
}

<h1 class="mb-3">@ViewData["Title"]</h1>
<p>Vui lòng nhập email và mật khẩu mới để khôi phục tài khoản của bạn.</p>
<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <!-- Mã xác nhận -->
            <input asp-for="Input.Code" type="hidden" />

            <!-- Email -->
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@gmail.com" />
                <label asp-for="Input.Email" class="form-label">Gmail</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <!-- Mật khẩu mới -->
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nhập mật khẩu mới" />
                <label asp-for="Input.Password" class="form-label">Mật khẩu mới</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <!-- Xác nhận mật khẩu -->
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nhập lại mật khẩu mới" />
                <label asp-for="Input.ConfirmPassword" class="form-label">Xác nhận mật khẩu</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-success">Đặt lại mật khẩu</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
